<?xml version="1.0"?>
<!--
/**
* Vaimo Brand
*
* @author Andrii Vivcharyk <andrii.vivcharyk@vaimo.com>
* @package Vaimo_Brand
* @copyright Copyright (c) 2021 Vaimo (http://www.vaimo.com)
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="vaimo_brand" frontName="brand">
            <module name="Vaimo_Brand"/>
        </route>
    </router>
</config>