<?xml version="1.0"?>
<!--
/**
* Vaimo Promotion
*
* @author Andrii Vivcharyk <andrii.vivcharyk@vaimo.com>
* @package Vaimo_Promotion
* @copyright Copyright (c) 2021 Vaimo (http://www.vaimo.com)
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="vaimo_promotion" frontName="promotion">
            <module name="Vaimo_Promotion"/>
        </route>
    </router>
</config>